.visit-main{
    background-image: url('https://static.wixstatic.com/media/e2d616_63a431c9e35d4479a6616fac196eb440~mv2.jpg/v1/fill/w_3360,h_1214,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/e2d616_63a431c9e35d4479a6616fac196eb440~mv2.jpg');
    height: 60vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
    
}
.bottom-visit h1{
    margin: 0;
}
.bottom-visit{
    background-color: bisque;
   padding: 30px;
}
.visit-hours{
    white-space: nowrap;
    height: 400px;
    width: 400px;
    background-color: rgb(33,64,58);
    color: white;
    padding : 20px;
    box-shadow: inset 0 0 40px white;
   
}
.visit-buttons{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top:80px;
}
.visit-button{
    background-color: rgb(225, 165, 86);
    padding: 5px 20px;
     color: black;
   
}
.get-in-touch-all{
    display: flex;
    width: 90%;
    margin: auto;
   background-color: rgb(33,64,58);
   
}
a{
     text-decoration: none;
     color:white;
}
.get-in-touch{
    width: 33%;
    height: 20vh;
     color:white;
     background-color: rgb(33,64,58);
     margin: 20px;  padding:40px 20px;
    font-size: larger;  }

   